.sortby {
  position: absolute;
  right: 10px;
  text-align: right;
  font-size: 0.9em;
}

.current {
  font-size: 0.8em;
  color: #ccc;
  font-style: italic;
}

.toggle {
  line-height: 0;
}

.toggle:hover {
  cursor: pointer;
  color: #ccc;
}

.sort {
  position: relative;
  background-color: #fff;
  text-align: left;
  list-style: none;
}

.direction {
  position: relative;
  background-color: #fff;
}

.hide {
  display: none;
}
