//#content .landing {

  div.features {
    background-color: #eee;

    div.squeeze {
      .Row(100%);
      text-align: center;
      margin: 40px auto;

      > div {
        .Cols(12);
        vertical-align: middle;
        box-sizing: border-box;
        padding: 20px;
        max-width: 900px;

        > div {
          text-align: left;
          clear: right;
          min-height: 2em;
          font-size: 0.9em;
          font-style: italic;
          margin-bottom: 1em;
          font-size: 1em;

          i {
            font-size: 1.5em;
            width: 40px;
          }
        }
      }
      > div.video {
        text-align: center;
      }
    }
  }
//}

@media (min-width: 500px) {
  #content .landing {

  }
}

@media (min-width: 800px) {
  //#content .landing {

    div.features {

      div.squeeze {
        .Row(80%);

        > div {
          .Cols(6);
          vertical-align: middle;
          box-sizing: border-box;
          padding: 20px;
          max-width: 900px;

          > div {
            text-align: left;
            clear: right;
            min-height: 2em;
            font-size: 0.9em;
            font-style: italic;
            margin-bottom: 1em;
            font-size: 1em;

            i {
              font-size: 1.5em;
              width: 40px;
            }
          }
        }
        > div.video {
          text-align: center;
        }
      }
    }
  //}
}

@media (min-width: 1400px) {
  #content .landing {

  }
}
