files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/21matchhack.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      DIR_NAME="/tmp/deployment/application/node_modules/react-router/lib"
      FILE_NAME="Match.js"
      FILE_RENAME="match.js"
      cd $DIR_NAME
      if [ -f $FILE_NAME ]; then mv $FILE_NAME $FILE_RENAME; fi
