files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/41matchhack.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo 'HACKING DIS SHIZ'
      echo $EB_CONFIG_APP_CURRENT
      cd /var/app/current/node_modules/react-router/lib
      mkdir testthis
      mv Match.js match.js
