#content > div.pricing {
  padding: 0;
  margin: 0;
  width: 100%;

  .squeeze {
    width: 90%;
    margin: auto;
    padding-top: 20px;
  }

  .slider {
    width: 90%;

    img {
      width: 100%;
    }
  }

  .features {
    display: none;
  }

  .title {
    text-align: center;
    width: 100%;
  }

  .team {
    background-color: #4D4D4D;
    min-height: 400px;
    color: #fff;
    margin-top: 100px;

    .photos {

      img {
        width: 100px;
        display: block;
      }
    }
  }
}

@media (min-width: 500px) {

  #content > div.pricing {

    .team {

      .photos {
        width: 80%;
        margin: auto;
        position: relative;
        top: -60px;
        text-align: center;

        img {
          display: inline-block;
          border: solid 20px transparent;
          cursor: pointer;
          width: 80px;

          &:hover {
            border-color: #4d4d4d;
          }
        }
      }

      .quote {
        width: 80%;
        margin: auto;
        font-size: 1.1em;
        letter-spacing: 1px;
        font-style: italic;

        .signature {
          font-style: normal;
          text-align: right;
          font-size: 0.9em;
          margin-top: 40px;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  #content > div.pricing {

    .features {
      display: block;
    }
  }
}
