.account {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .heading {
    .Row(100%);

    .pic {
      .Cols(6);
      font-size: 90%;
      line-height: 120%;
      a {
        text-decoration: underline;
      }


      img {
        width: 95%;
        margin: 0;
        padding: 0;
      }
    }

    .profile {
      .Cols(6);
    }

    .orgs {
      .Cols(12);

      .org {
        border-bottom: solid 1px #eee;
        border-left: solid 4px #555;
        padding-left: 10px;

        &:hover {
          border-left: solid 4px @blue-light;
          background-color: #f7f7f7;
        }

        a {
          color: #333;
        }

        a:hover {
          text-decoration: underline;
          color: @gold-light;
        }
        a.remove {
          font-size: 80%;
          color: @blue-light;
        }
        button {
          float: right;
          height: 30px;
          width: 60px;
          font-size: 70%;
        }
      }
    }
  }

  .update {

    > div {
      .Row(96%);
      padding: 2%;
      background-color: #f7f7f7;
      margin-top: 40px;
    }
  }

  .password {

  }

  label {
    display: block;
    font-size: 0.8em;
    .Cols(4);

    input, select {
      display: block;
    }
  }
}

@media (min-width: 600px) {

  .account {

    .heading {

      .pic {
        .Cols(3);
      }

      .profile {
        .Cols(6);
      }

      .posts {
        .Cols(2);
        text-align: right;
      }
    }

    .update {
      .Row(100%);


      div.info {

      }

      div.address {

        label {
          .Cols(3);
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

@media (min-width: 800px) {

  .account {

    .heading {
      .Row(100%);

      .pic {
        .Cols(2);
      }

      .profile {
        .Cols(4);
      }

      .orgs {
        .Cols(6);
      }
    }
  }
}
