.admin {

  .heading {
    .pic {
      .Cols(3);

      img {
        width: 90%;
      }
    }

    .basic {
      .Cols(9);
    }
  }
  .tabs > div {
    width: 25%;
    font-size: 0.5em;
  }
}

@media (min-width: 800px) {
  .admin {
    .tabs > div {
      font-size: 1em;
    }
  }
}
