.editor {
    
    div.format {
        background-color: #ccc;
        .Row(100%);
        
        select {
            .Row(100%);
        }
        
        button {
            .Cols(1, 10);
        }
    }
    
    input[type=radio] {
        width: 20px;
        border: none;
        background-color: #ddd;
    }
    textarea {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    div.actions {
        .Row(100%);
        background-color: #ccc;
        
        button {
            .Cols(3);
        }
    }
    
    table {
        width: 100%;
    }
}