#content .editor {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;

  .heading {
    .Row(100%);
    background: #eee;

    > div {
      .Cols(4);
      vertical-align: middle;
    }

    label {
      width: 60px;
      display: inline-block;
    }
    button {
      font-size: 4em;
      cursor: pointer;
      background: transparent;
      border: none;
      width: 25%;
      padding: 0;
      margin: 0;
      color: #aaa;

      &:hover {
        color: @theme-dark;
      }
      span {
        font-size: 10px;
        font-family: @font-sans;
      }
    }
  }
  a.small {
    font-size: 0.5em;
    text-decoration: underline;
  }

  .list {

    table {
        width: 100%;
    }
  }

  textarea {
    background-color: #fff;
    border: none;
    width: 100%;
  }
  .form {
    input[type=radio] {
      width: 20px;
      border: none;
      background-color: @grey;
    }
    textarea {
      width: 100%;
      margin: 0px;
      padding: 0px;
    }
    label {
      width: 20%;
      display: inline-block;
      font-size: 1em;
      height: 1em;
      margin: 0 10px 10px 0;
    }

    div.actions {
      .Row(100%);
      text-align: center;
      font-size: 1.2em;

      button {
        .Cols(3);
        height: 6em;

        i {
          margin-top: 10px;
          display: block;
          font-size: 2em;
        }
      }
    }
  }

  .types {
    .Row(100%);
    text-align: center;

    div {
      .Cols(5);
      text-align: center;
      border: solid 1px @grey;
      .rounded(2px);
      cursor: pointer;
      padding: 1%;
      margin: 1%;
      height: 10em;

      strong {
        font-size: 1.5em;
        line-height: 1.5em;
        font-weight: normal;
      }

      p {
        margin: 0px;
        padding: 0px;
        font-size: 0.9em;
      }

      &.blog, &.event {
        border-top: solid 4px @green-dark;

        &:hover {
          background-color: fade(@green, 10%);
        }

        &.selected {
          background-color: fade(@green, 20%);
          border: solid 2px @green-dark;
        }
      }

      &.subject, &.question {
        border-top: solid 4px @blue-dark;

        &:hover {
          background-color: fade(@blue, 10%);
        }

        &.selected {
          background-color: fade(@blue, 20%);
          border: solid 2px @blue-dark;
        }
      }

      &.debate, &.poll {
        border-top: solid 4px @red-dark;

        &:hover {
          background-color: fade(@red, 10%);
        }

        &.selected {
          background-color: fade(@red, 20%);
          border: solid 2px @red-dark;
        }
      }

      &.quote, &.belief {
        border-top: solid 4px @gold-dark;

        &:hover {
          background-color: fade(@gold, 10%);
        }

        &.selected {
          background-color: fade(@gold, 20%);
          border: solid 2px @gold-dark;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .editor {

    .types {

      div {
        .Cols(2);
      }
    }
  }
}
