#content .landing {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  background: transparent;
  text-align: center;

  .slider {
    width: 100%;
    max-width: 100%;

    img.banner {
      width: 100%;
      max-width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  .convert {
    background-color: @theme-dark;

    div {
      margin: auto;
      color: #ccc;

      input, button {
        display: inline-block;
      }
    }
  }

  .explore {
    padding-bottom: 40px;
  }

  .create {
    background-color: @green-light;
    color: #fff;
    padding-bottom: 60px;
    .Row(100%);

    > div {
      .Cols(3);
      margin-top: 40px;

      i {
        font-size: 3em;
      }
    }
  }

  .compete {
    .Row(100%);
    height: 300px;
    background-color: #fff;

    > div {
      .Cols(3);

      i {
        font-size: 3em;
      }
    }
  }

  .integrate {
    background-color: @theme-light;
    color: #fff;
    padding-bottom: 60px;

    .Row(100%);

    i {
      .Cols(2);
      font-size: 3em;
    }
  }
}
