/** POST **/
.heading {
  font-size: 0.9em;
  color: #777;
  border-bottom: solid 1px #eee;
  margin-bottom: 20px;
  
  .meta {
      .Row(100%);

      div {
          .Cols(4);
      }
      
      ul {
          .Cols(8);
      }
      .type {
        display: inline;
        padding: 4px 10px;  
        color: white;
        .rounded(10px);
      }
      
      .type.blog, .type.event {
          background-color: @green-dark;
      }
      
      .type.debate, .type.bill {
          background-color: @red-dark;
      }
      
      .type.subject, .type.question {
          background-color: @blue-dark;
      }
      
      .type.quote, .type.belief {
          background-color: @gold-dark;
      }
      
      ul.breadcrumb li {
            .Cols(4);
            font-size: 1em;
            text-transform: uppercase;
      }
  }

  .basic {
    .tags {
        
        .tag {
          border: solid 1px #ddd;
          padding: 2px 6px;
          .rounded(16px);
          font-size: 0.9em;
          color: #aaa;
          margin-left: 4px;
          display: inline-block;
        }
    }

  }

}

.content {
    margin-bottom: 40px;
}

.thumb {
    margin-bottom: 40px;
    background-color: #F6F7FB;
    border-top: solid 1px #E4E5E6;
    border-bottom: solid 1px #E4E5E6;
}

.comments {
    
    .comment {
        .Row(100%);
        font-size: 0.9em;
        border-bottom: solid 1px #E3E4E6;
        margin-bottom: 20px;
        
        .pic {
            .Cols(2);
            
            a {
                img {
                    width: 80%;
                }
            }
        }
        
        .content {
            .Cols(10);
            
            .username {
                
            }
            
            p {
                
            }
            
            .date {
                color: #aaa;
                font-size: 1em;
                font-style: italic;
            }
           
        }
    }
}


.create {
background-color: #3C4251;
.Row(96%);
padding: 2%;
color: #eee;

  .pic {
      .Cols(2);
      
      img {
          margin: 0;
          padding: 0;
          width: 80%;
      }
  }
  textarea {
    .Cols(8);
    border: none;
    background-color: #F6F7F9;
    .rounded(4px);
    height: 200px;
  }
  
  button.button {
    .Cols(2);
    margin: 0;
    padding: 0;
  }
}

.comment {
  .button {
    .insetlight();
    font-size: 0.7em !important;
  }
}

/*
.post, .org {
  
  div.basic {
    float: left;
    width: 75%;
    line-height: 20px;
    
    .title {
      font-size: 90%;
      font-weight: normal;
      font-style: italic;
      color: @green-dark;
      margin: 0px;
      padding: 0px;
    }
    
    span.created {
      font-size: 80%;
      font-weight: normal;
      color: #777;
      margin: 0px;
      padding: 0px;
    }
  }
  
  div.stats {
    float: right;
    width: 25%;
    
    ul.detail {
      text-align: right;
      font-size: 65%;
      
      li {
        list-style: none;
        margin: 0px;
        line-height: 14px;
      }
    }
    
    .influence {
      float: right; 
      text-align: center; 
      font-size: 5em; 
      width: 60px;
      height: 80px;
      padding: 20px 20px 0px 5px;
    }
  }
  

  
  .title {
    font-size: 2.8em;
    font-weight: normal;
    padding-top: 20px;
    text-align: left; 
    text-transform: none; 
    line-height: 1em;
  }
  
  .body {
    margin: 20px;
    line-height: 28px;
    text-align: left;
    padding: 10px 5px 10px 5px;
    margin: 0px; 
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
    font-family: @palatino; 
  }
  
  .interact {
    img {
      
      margin: 0px 4px 0px 4px;
      padding: 0px;
      border: none;
    }
    .views {
      width: 20%;
      float: left;
      margin-top: 10px;
      
      img {
        float: left;
      }
      div {
        font-family: @century;
        font-size: 90%;
        color: @blue-dark;
        margin-top: 3px;
      }
    }
    .thumb {
      margin-top: 10px;
      width: 80%;
      float: right;
      text-align: right;
      
      div {
        float: right;
        font-family: @century;
        font-size: 90%;
        color: #333;
        margin-top: 3px;
        line-height: 14px;
        
        strong {
          font-size: 120%;
        }
        
        em {
          font-size: 90%;
          font-style: italic;
        }
      }
      
      .positive { color: @green-dark; }
      .negative {color: @red-dark; }
      img {
        float: right;
      }
    }
  }
}

*/
