@import 'post/actions.less';
@import 'post/categories.less';
@import 'post/collaborators.less';
@import 'post/comments.less';
@import 'post/details.less';
@import 'post/interact.less';
@import 'post/links.less';
@import 'post/privacy.less';
@import 'post/share.less';
@import 'post/stats.less';
@import 'post/tags.less';
@import 'post/thumbs.less';
@import 'post/types.less';

div.posts, div.post {
  max-width: 1400px;
  margin: auto;
  min-height: 600px;
}

div.post {
  width: 100%;
  max-width: 100%;
}

.postItem {
  width: 98%;
  margin: 1%;
  padding: 1%;
  background-color: #f7f7f7;
  box-sizing: border-box;
  text-align: left;

  &:hover {
    opacity: 1;
  }

  &.selected {
    width: 98%;
    margin: 1%;
    opacity: 1;
    padding: 1%;

    > button.close {
      display: block;
    }

    > a.edit {
      margin-right: 20px;
    }
  }

  &.single {
    width: 100%;
    margin: 0;
    background-color: #fff;
    margin-top: -60px;

    .title {
      font-size: 2em;
    }
  }

  ul {
    margin: 20px 0 0 0;
    padding: 0;

    li {
      list-style: none;
      font-size: 0.8em;
      color: @theme-light;
      margin: 0;
      padding: 0;
      line-height: 1.4;
    }
  }

  /** TITLE **/
  input.title {
    border: none;
    background: transparent;
    width: 100%;
    max-width: 100%;
    min-width: 100%;

    &.editing:hover, &.editing:focus {
      border: solid 1px #ddd;
      background-color: #fdfdfd;
      padding: 3px;
    }
  }

  .title {
    font-size: 1.5em;
    line-height: 1em;
    font-family: @font-serif;
    font-weight: bold;
    color: #1e2f40;
    outline: none;
    margin: 10px 0;
    padding: 5px;

    a {
      color: @grey-dark;

      &:hover {
        color: @gold;
      }
    }
  }

  /** CONTENT **/
  .rte {
    border-bottom: solid 1px #eee;
    margin-bottom: 40px;
    padding-bottom: 20px;
  }
  .ql-editor, .ql-container {
    height: initial;
    min-height: initial;
  }

  .content {
    .Row(100%);
    overflow: hidden;
  }
}

@media (min-width: 1000px) {

  div.posts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;

    .postItem {
      width: 24%;
      margin: 1% 1% 1% 0;
      display: inline-block;
      box-sizing: border-box;
      min-height: 500px;
      padding-bottom: 75px;
      .rounded(10px);
      opacity: 1;
      transition: opacity .5s ease-in-out;
      -moz-transition: opacity .5s ease-in-out;
      -webkit-transition: opacity .5s ease-in-out;
      position: relative;
      margin: 5px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;

    }

    &:hover .postItem {
      // opacity: 1;
      // transition: opacity .5s ease-in-out;
      // -moz-transition: opacity .5s ease-in-out;
      // -webkit-transition: opacity .5s ease-in-out;

      &:hover {
        background-color: #fff;
        //opacity: 1;
      }
    }
  }
}
