.search {
    
    .keywords {
        .Row(100%);
        height: 60px;
        
        input {
            .Cols(10);
            max-width: none;
            margin: 0px;
            padding: 0px;
            height: 100%;
            font-size: 2em;
        }
        
        button {
            .Cols(2);
            margin: 0px;
            padding: 0px;
            height: 100%;
        }
        
    }
    #map {
        width: 100%;
        min-height: 450px;
        max-height: 600px;
    }
    
    .show {
        display: block;
    }
    
    .hide {
        display: none;
    }
    .groups {
        
    }
    
    .filter {
       .Row(100%);
       
       .label {
           .Cols(4);
           text-align: right;
       }
       .sort {
            .Cols(8);         
       }
       .direction {
           .Cols(4)
       }
    }
    
    .dates {
           div {
           .Row(100%);
           }
           select {
                .Cols(5);
           } 
           
           select.date {
               .Cols(2);
           }       
       }
    
    .types {
        .Row(100%);
    
        button {
            .Cols(1, 3);
        }
    }
    
    .pagination {
        .Row(100%);
        
        button {
            .Cols(2);
        }
        
        div {
            .Cols(7);
            text-align: center;
        }
    }
    
    .posts {
        
    }
    
    .postItem {
        .Row(100%);
        border-top: solid 1px #eee;
        margin-top: 2em;
        padding-top: 1em;
        
        .type {
            .Row(100%);
            font-size: 0.8em;
            text-transform: uppercase;
            font-weight: bold;
        }
        .pic, .basic, .detail, .stats {
            .Cols(6);
        }
        .pic {
            
            img {
                width: 90%;
            }
        }

        .content {
            .Row(100%);
            height: 6em;
            overflow: hidden;
        }
    }
}

@media (min-width: 800px) {
    .search {
        
        .postItem {
                .pic, .basic, .detail, .stats {
                    .Cols(3);
                }
        }
        
        .types {
            .Row(100%);
            
            button {
                .Cols(1, 9);
            }
        }
    }
}