#content div.search {
  max-width: 100%;
}

.search {

  .heading {
    background-color: white;
    height: 90px;
    top: 40px;
    position: fixed;
    width: 90%;
    padding: 2% 5%;
    z-index: 1;

    .keywords {
      .Row(100%);
      height: 40px;

      input {
        .Cols(10);
        max-width: none;
        margin: 0px;
        padding: 0px;
        height: 100%;
        font-size: 1.5em;
      }

      button {
        .Cols(2);
        margin: 0px;
        padding: 0px;
        height: 100%;
        .rounded(0px);
      }
    }

    .refine {
      .Row(100%);
      margin-top: 10px;

      .context {
        .Cols(6);
      }

      .toggles {
        .Cols(6);
        text-align: right;

        button {
          width: 40px;
          height: 40px;
          background-color: @off-white;
          border: solid 1px #bbb;
          cursor: pointer;
          color: #bbb;
          margin-left: 10px;
          .rounded(2px);

          &:hover {
            background-color: @off-white;
            color: @blue;
          }
        }
      }
    }

    .filter, .sortby {
      clear: right;
      background-color: @grey-light;
      margin-top: 10px;

      .box-shadow(0px, 0px, 12px, @grey-dark);
      float: right;

      @triangleSize: 12px;
      .triangle {
        margin-top: -12px;
        width: 0;
        height: 0;
        float: right;
        border-left: @triangleSize solid transparent;
        border-right: @triangleSize solid transparent;
        border-bottom: @triangleSize solid @grey-light;
      }

      .label {
        font-size: 0.8em;
        color: #aaa;
        text-transform: uppercase;
        padding: 1em;
        margin: 0;
      }
    }

    .filter {
      width: 300px;
      padding-bottom: 1em;

      button {
        border: none;
      }

      .triangle {
        margin-right: 58px;
      }
      .types {
        button {
          display: inline-block;
          width: 100px;
        }
      }
      .dates {
        .Row(100%);
        margin-left: 10px;

        div {
          .Cols(6);
        }
        label {
          font-size: 0.8em;
          font-style: normal;
          display: block;
          margin: 0;
          padding: 0;
        }

        button {
          display: inline-block;
          height: 36px;
          width: 30px;
          color: white;

        }
        input {
          width: 100px;
        }
      }

      .clear, .apply {
        width: 120px;
        height: 40px;
        .rounded(4px);
        color: white;
        cursor: pointer;
        margin-left: 10px;

        &:hover {
          background-color: @theme-light;
        }
      }

      .clear {
        background-color: @theme;
      }

      .apply {
        background-color: @theme-dark;
      }
    }

    .sortby {
      width: 200px;

      .triangle {
        margin-right: 8px;
      }
      ul {
        border-top: solid 1px #ccc;
        margin: 0px;
        padding: 0px;

        li {
          width: 96%;
          border-bottom: solid 1px #ccc;
          padding: 0.5em 2%;
          cursor: pointer;

          list-style: none;

          .fa {
            color: @grey;
          }

          &.selected {
            color: @blue;
            background-color: white;
            font-size: 1.5em;

            .fa {
              color: @blue;
            }
          }

          &:hover {
            background-color: white;
            color: @green;

            .fa {
              color: @green;
            }
          }
        }
      }
      button {
        background-color: white;
        border: none;
        width: 50%;
        text-align: center;
        height: 40px;
        cursor: pointer;

        &.selected {
          color: @blue;
        }
      }
    }
  }

  .foot {
    background-color: @theme;
    height: 60px;
    bottom: 0px;
    width: 100%;

    .pagination {
      .Row(100%);
      max-width: 1400px;
      color: white;
      font-size: 0.8em;
      text-align: center;

      button {
        background-color: @theme-dark;
        width: 60px;
        display: inline-block;

        &:hover {
          background-color: @theme-light;
        }
      }
    }
  }

  .posts {
    padding-top: 100px;
    max-width: 1400px;
    margin: auto;
  }

  .postItem {
    .Row(100%);
    margin-top: 2em;
    padding: 1em 5%;
    width: 80%;
    background-color: white;

    .title {

      a {
        color: @theme-dark;

        &:hover {
          color: @gold;
        }
      }
    }

    .details {
      .pic {
        .Cols(2);
          img {
            width: 70%;
          }
      }

      .basic {
        .Cols(10);
        font-size: 0.9em;
        line-height: 1.1em;

        .created {
          font-size: 0.8em;
          color: #bbb;
        }
      }
      .meta {
        .Cols(12);

        ul {
          margin: 0;
          padding: 0;

          li {
            list-style: none;
            font-size: 0.8em;
            color: @theme-light;
            margin: 0;
            padding: 0;
            line-height: 1.4;
          }
        }
      }
    }

    .content {
      .Row(100%);
      height: 6em;
      overflow: hidden;
    }

    .footing {
      margin-top: 1em;
      padding-top: 1em;
      border-top: solid 1px @grey-light;

      .stats {
        color: #aaa;
        font-size: 0.8em;

        div {
          display: inline-block;

          i {
            padding: 0px 6px;
          }
        }
        .popularity {
          img {
            width: 60px;
          }
        }

        li {
          display: inline;
        }
      }

      .type {
        font-size: 0.8em;
        text-transform: capitalize;
        .rounded(6px);
        color: white;
        padding: 2px;
        text-align: center;
        font-weight: bold;
      }

      .type.blog, .type.event { background-color: @green; color: darken(@green-dark, 10%); }
      .type.subject, .type.question { background-color: @blue; color: darken(@blue-dark, 10%); }
      .type.debate, .type.poll { background-color: @red; color: darken(@red-dark, 10%); }
      .type.quote, .type.belief { background-color: @gold; color: darken(@gold-dark, 10%); }
    }
  }
}

@media (min-width: 800px) {
  .search {

    .posts {
      padding-top: 160px;
    }

    .postItem {

      .details {
        .pic {
          .Cols(3);
        }
        .basic {
          .Cols(6);
        }
        .meta {
          .Cols(3);
          text-align: right;

          .influence {
            float: right;
          }

          ul {
            clear: right;
          }
        }
      }
    }

    .types {
      .Row(100%);

      button {
        .Cols(1, 9);
      }
    }
  }
}
