#content div.search {
  max-width: 100%;
}

.search {

  .loader {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .organizations {
    width: 90%;
    margin: 0 5% 0 5%;
    border-bottom: solid 1px #ccc;

    .list {
      .Row(100%);

      .org {
        .Cols(12);
        background-color: #f7f7f7;
        box-sizing: border-box;
        padding: 10px;
        margin: 10px;
        text-align: center;

        .name {
          font-size: 1.5em;
          font-family: @font-serif;
        }

        &:hover {
          background-color: #fff;
          cursor: pointer;
        }

        img {
          width: 100%;
          max-width: 150px;
          max-height: 150px;
        }
      }
    }
  }

  .heading {
    top: 40px;
    z-index: 1;
    width: 100%;
    padding: 0;
    margin: 0;

    .keywords {
      .Row(100%);
      height: 40px;

      input {
        .Cols(10);
        max-width: none;
        box-sizing: border-box;
        margin: 0px;
        padding: 4px;
        height: 100%;
        font-size: 1.2em;
      }

      button {
        .Cols(2);
        margin: 0px;
        padding: 0px;
        height: 100%;
        .rounded(0px);

        span {
          display: none;
        }
      }
    }

    .filter, .sortby {
      background-color: @grey-light;
      .box-shadow(0px, 0px, 12px, @grey-dark);

      .label {
        font-size: 0.8em;
        color: #aaa;
        text-transform: uppercase;
        padding: 1em;
        margin: 0;
      }
    }

    .filter {
      .Row(100%);
      margin-top: 10px;

      .types {
        background-color: #fff;
        border-top: solid 1px #ccc;

        button.button {
          width: 42%;
          margin: 10px 4% 10px 4%;
          display: inline-block;
        }
      }
      ul {
        display: inline-block;
        list-style: none;
        vertical-align: top;

        li {
          border-bottom: solid 1px #eee;
        }
      }

      ul {
        li {
          a#blogs {
            border-left: solid 4px @green-light;
          }
          a#subjects {
            border-left: solid 4px @blue-light;
          }
          a#debates {
            border-left: solid 4px @red-light;
          }
          a#beliefs {
            border-left: solid 4px @gold-light;
          }
        }
      }
    }

    .refine {
      .Row(100%);

      .context {
        text-align: left;
        border-left: solid 1px #ddd;
        box-sizing: border-box;

        button {
          width: 80px;
          height: 40px;
          background-color: @off-white;
          border-bottom: solid 1px #ddd;
          border-right: solid 1px #ddd;
          border-left: none;
          border-top: none;
          cursor: pointer;
          color: #aaa;
          font-size: 0.8em;
          .rounded(2px);

          &:hover {
            background-color: @off-white;
            color: @blue;
          }

          &.selected {
            height: 44px;
            border-bottom: solid 4px @blue-light;
            background-color: #fff;
            color: @blue-dark;
          }
        }
      }

      .toggles {
        text-align: left;

        button {
          background: transparent;
          border: none;
          height: 40px;
          cursor: pointer;
          color: #777;
          font-size: 0.8em;
          text-align: right;

          &:hover {
            background-color: @off-white;
            color: @blue;
          }
        }
      }
    }

    .context {
      font-size: 0.9em;

      img {
        float: left;
        height: 40px;
      }

      a.close {
        font-size: 0.9em;
        color: #111;
      }
    }

    .sortby {
      margin-top: 10px;
      position: absolute;
      right: 5%;
      z-index: 999;
      float: right;

      @triangleSize: 12px;
      .triangle {
        margin-top: -12px;
        width: 0;
        height: 0;
        float: right;
        border-left: @triangleSize solid transparent;
        border-right: @triangleSize solid transparent;
        border-bottom: @triangleSize solid @grey-light;
      }
    }

    // .filter {
    //   width: 300px;
    //   padding-bottom: 1em;
    //
    //   button {
    //     border: none;
    //   }
    //
    //   .triangle {
    //     margin-right: 118px;
    //   }
    //   .types {
    //     button {
    //       display: inline-block;
    //       width: 100px;
    //     }
    //   }
    //   .dates {
    //     .Row(100%);
    //     margin-left: 10px;
    //
    //     div {
    //       .Cols(6);
    //     }
    //     label {
    //       font-size: 0.8em;
    //       font-style: normal;
    //       display: block;
    //       margin: 0;
    //       padding: 0;
    //     }
    //
    //     button {
    //       display: inline-block;
    //       height: 36px;
    //       width: 30px;
    //       color: white;
    //
    //     }
    //     input {
    //       width: 100px;
    //     }
    //   }
    //
    //   .clear, .apply {
    //     width: 120px;
    //     height: 40px;
    //     .rounded(4px);
    //     color: white;
    //     cursor: pointer;
    //     margin-left: 10px;
    //
    //     &:hover {
    //       background-color: @theme-light;
    //     }
    //   }
    //
    //   .clear {
    //     background-color: @theme;
    //   }
    //
    //   .apply {
    //     background-color: @theme-dark;
    //   }
    // }

    .sortby {
      width: 200px;

      .triangle {
        margin-right: 26px;
      }
      ul {
        border-top: solid 1px #ccc;
        margin: 0px;
        padding: 0px;

        li {
          width: 96%;
          border-bottom: solid 1px #ccc;
          padding: 0.5em 2%;
          cursor: pointer;

          list-style: none;

          .fa {
            color: @grey;
          }

          &.selected {
            color: @blue;
            background-color: white;
            font-size: 1.5em;

            .fa {
              color: @blue;
            }
          }

          &:hover {
            background-color: white;
            color: @green;

            .fa {
              color: @green;
            }
          }
        }
      }
      button {
        background-color: white;
        border: none;
        width: 50%;
        text-align: center;
        height: 40px;
        cursor: pointer;

        &.selected {
          color: @blue;
        }
      }
    }
  }

  // .foot {
  //   background-color: @theme;
  //   height: 60px;
  //   bottom: 0px;
  //   width: 100%;
  //
  //   .pagination {
  //     .Row(100%);
  //     max-width: 1400px;
  //     color: white;
  //     font-size: 0.8em;
  //     text-align: center;
  //
  //     button {
  //       background-color: @theme-dark;
  //       width: 60px;
  //       display: inline-block;
  //
  //       &:hover {
  //         background-color: @theme-light;
  //       }
  //     }
  //   }
  // }

  .posts, .post {
    max-width: 1400px;
    margin: auto;
    min-height: 600px;
  }

  .post .postItem {
    display: none;

    &.selected {
      display: block;
    }
  }
}

@media (min-width: 500px) {
  .search {

    .organizations {

      .list {

        .org {
          .Cols(6);
        }
      }
    }

    .heading {
      width: 90%;
      padding: 2% 5%;

      .keywords {
        button {

          span {
            display: inline;
            font-size: 0.8em;
          }
        }
      }

      .refine {
        .context {
          .Cols(9);
        }

        .toggles {
          .Cols(3);
          text-align: right;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .search {

    .posts {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;

      &:hover .postItem {
        opacity: 0.5;
        transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        -webkit-transition: opacity .5s ease-in-out;

        &:hover {
          opacity: 1;
        }
      }

      .postItem {
        height: 500px;
        .rounded(10px);
        opacity: 1;
        transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        -webkit-transition: opacity .5s ease-in-out;
        position: relative;
        margin: 5px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;

        .interact {
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }
    }

    .organizations {

      .list {

        .org {
          .Cols(3);
        }
      }
    }

    .heading {

      .filter {

        .types {

          button.button {
            width: 20%;
            margin: 10px 3% 10px 2%;
            display: inline-block;
          }
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .search {

  }
}
