#content div.search {
  max-width: 100%;
}

.search {

  .heading {
    top: 40px;
    width: 90%;
    padding: 2% 5%;
    z-index: 1;

    .keywords {
      .Row(100%);
      height: 40px;

      input {
        .Cols(10);
        max-width: none;
        margin: 0px;
        padding: 0px;
        height: 100%;
        font-size: 1.5em;
      }

      button {
        .Cols(2);
        margin: 0px;
        padding: 0px;
        height: 100%;
        .rounded(0px);
      }
    }

    .categories {
      background-color: #fff;
      .Row(100%);

      .toggles {
        float: right;
      }
      ul {
        display: inline-block;
        list-style: none;
        vertical-align: top;

        li {
          border-bottom: solid 1px #eee;
        }
      }

      ul {
        li {
          a#blogs {
            border-left: solid 4px @green-light;
          }
          a#subjects {
            border-left: solid 4px @blue-light;
          }
          a#debates {
            border-left: solid 4px @red-light;
          }
          a#beliefs {
            border-left: solid 4px @gold-light;
          }
        }
      }
    }

    .refine {
      .Row(100%);
      margin-top: 10px;

      .context {

      }

      .toggles {
        text-align: left;

        button {
          width: 80px;
          height: 40px;
          background-color: @off-white;
          border: solid 1px #bbb;
          cursor: pointer;
          color: #bbb;
          font-size: 0.8em;
          margin-left: 10px;
          .rounded(2px);

          &:hover {
            background-color: @off-white;
            color: @blue;
          }
        }
      }
    }

    .context {
      font-size: 0.9em;

      img {
        float: left;
        height: 40px;
      }

      a.close {
        font-size: 0.9em;
        color: #111;
      }
    }

    .filter, .sortby {
      clear: right;
      background-color: @grey-light;
      margin-top: 10px;

      .box-shadow(0px, 0px, 12px, @grey-dark);
      float: right;

      @triangleSize: 12px;
      .triangle {
        margin-top: -12px;
        width: 0;
        height: 0;
        float: right;
        border-left: @triangleSize solid transparent;
        border-right: @triangleSize solid transparent;
        border-bottom: @triangleSize solid @grey-light;
      }

      .label {
        font-size: 0.8em;
        color: #aaa;
        text-transform: uppercase;
        padding: 1em;
        margin: 0;
      }
    }

    .filter {
      width: 300px;
      padding-bottom: 1em;

      button {
        border: none;
      }

      .triangle {
        margin-right: 58px;
      }
      .types {
        button {
          display: inline-block;
          width: 100px;
        }
      }
      .dates {
        .Row(100%);
        margin-left: 10px;

        div {
          .Cols(6);
        }
        label {
          font-size: 0.8em;
          font-style: normal;
          display: block;
          margin: 0;
          padding: 0;
        }

        button {
          display: inline-block;
          height: 36px;
          width: 30px;
          color: white;

        }
        input {
          width: 100px;
        }
      }

      .clear, .apply {
        width: 120px;
        height: 40px;
        .rounded(4px);
        color: white;
        cursor: pointer;
        margin-left: 10px;

        &:hover {
          background-color: @theme-light;
        }
      }

      .clear {
        background-color: @theme;
      }

      .apply {
        background-color: @theme-dark;
      }
    }

    .sortby {
      width: 200px;

      .triangle {
        margin-right: 8px;
      }
      ul {
        border-top: solid 1px #ccc;
        margin: 0px;
        padding: 0px;

        li {
          width: 96%;
          border-bottom: solid 1px #ccc;
          padding: 0.5em 2%;
          cursor: pointer;

          list-style: none;

          .fa {
            color: @grey;
          }

          &.selected {
            color: @blue;
            background-color: white;
            font-size: 1.5em;

            .fa {
              color: @blue;
            }
          }

          &:hover {
            background-color: white;
            color: @green;

            .fa {
              color: @green;
            }
          }
        }
      }
      button {
        background-color: white;
        border: none;
        width: 50%;
        text-align: center;
        height: 40px;
        cursor: pointer;

        &.selected {
          color: @blue;
        }
      }
    }
  }

  .foot {
    background-color: @theme;
    height: 60px;
    bottom: 0px;
    width: 100%;

    .pagination {
      .Row(100%);
      max-width: 1400px;
      color: white;
      font-size: 0.8em;
      text-align: center;

      button {
        background-color: @theme-dark;
        width: 60px;
        display: inline-block;

        &:hover {
          background-color: @theme-light;
        }
      }
    }
  }

  .posts {
    max-width: 1400px;
    margin: auto;
  }

  .postItem {
    width: 98%;
    margin: 1%;
    padding: 1%;
    opacity: 0.5;
    background-color: white;
    box-sizing: border-box;

    &:hover {
      opacity: 1;
    }
    &.selected {
      width: 98%;
      margin: 1%;
      opacity: 1;
      padding: 1%;
    }

    button.close {
      background: transparent;
      border: none;
      float: right;
      font-size: 1em;

      &:hover {
        color: @red;
        cursor: pointer;
      }
    }
    .type {
      font-size: 0.8em;
      text-transform: capitalize;
      .rounded(6px);
      color: white;
      padding: 2px;
      text-align: center;
      width: 100px;
    }

    .type.blog, .type.event { background-color: @green; color: #fff; }
    .type.subject, .type.question { background-color: @blue; color: #fff; }
    .type.debate, .type.poll { background-color: @red; color: #fff; }
    .type.quote, .type.belief { background-color: @gold; color: #fff; }

    .title {

      a {
        color: @theme-dark;

        &:hover {
          color: @gold;
        }
      }
    }

    .details {
      .Cols(8);
      .pic {
        .Cols(2);
          img {
            width: 70%;
          }
      }

      .basic {
        .Cols(10);
        font-size: 0.9em;
        line-height: 1.1em;

        .created {
          font-size: 0.8em;
          color: #bbb;
        }
      }
    }
    .meta {
      > div {
        display: inline-block;
        vertical-align: bottom;
      }
    }
    ul {
      margin: 20px 0 0 0;
      padding: 0;

      li {
        list-style: none;
        font-size: 0.8em;
        color: @theme-light;
        margin: 0;
        padding: 0;
        line-height: 1.4;
      }
    }
    .content {
      .Row(100%);
      height: 6em;
      overflow: hidden;
    }

    .stats {
      color: #999;
      font-size: 0.8em;
      text-align: left;
      clear: right;

      div {
        .Cols(4);
        text-align: center;
        font-size: 10px;
        color: #333;
        width: 80px;

       strong {
         color: #555;
         font-size: 1.4em;
       }
      }
    }

    .footing {
      margin-top: 1em;
      padding-top: 1em;
      border-top: solid 1px @grey-light;
    }
  }

  .comments {

    .comment {
      .Row(100%);
      font-size: 0.9em;
      border-bottom: solid 1px @form-border;
      margin-bottom: 20px;

      .pic {
        .Cols(2);

        a {
          img {
            width: 80%;
          }
        }
      }

      .content {
        .Cols(10);

        .username {

        }

        p {

        }

        .date {
          color: #aaa;
          font-size: 1em;
          font-style: italic;
        }
      }
    }
  }
  .create {
    background-color: @theme;
    .Row(96%);
    padding: 2%;
    color: @grey-light;

    .pic {
      width: 10%;
      display: inline-block;
      vertical-align: top;

      img {
        margin: 0;
        padding: 0;
        width: 80%;
      }
    }
    textarea {
      display: inline-block;
      border: none;
      height: 160px;
      width: 90%;
    }

    button.button {
      float: right;
      margin: 0;
      padding: 0;
    }
  }

}

@media (min-width: 500px) {
  .search {
    .heading {
      .refine {
        .context {
          .Cols(6);
        }

        .toggles {
          .Cols(6);
          text-align: right;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .search {
    .postItem {
      width: 24%;
      margin: 1% 1% 1% 0;
      display: inline-block;
      box-sizing: border-box;

      .details {
        .Row(100%);

        .pic {
          .Cols(3);
        }
        .basic {
          .Cols(6);
        }
      }
      .meta {
        .Row(100%);
        text-align: right;

        .influence {
          float: left;
        }

        ul {
          clear: right;
        }
      }

    }

    .types {
      .Row(100%);

      button {
        .Cols(1, 9);
      }
    }
  }
}

@media (min-width: 1400px) {
  .search {
    .postItem {
      width: 19%;
      margin-right: 1%;

      .details {
        .pic {
          .Cols(3);
        }
        .basic {
          .Cols(6);
        }
        .meta {
          .Cols(3);
          text-align: right;

          .influence {
            float: right;
          }

          ul {
            clear: right;
          }
        }
      }
    }

    .types {
      .Row(100%);

      button {
        .Cols(1, 9);
      }
    }
  }
}
