.privacy {
  background-color: #eee;
  box-sizing: border-box;
  padding: 10px;

  > div {

    div.contexts, button {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.privacyToggle {
  display: inline-block;
  margin-left: 10px;
  font-size: 0.9em;
  color: @blue;

  &:hover {
    cursor: pointer;
    color: @gold-light;
  }
}
