@import './../../../../less/theme.less';
@import './../../../../less/sub/grid.less';

#content .docs {
  .Row(100%);
  box-sizing: border-box;

  .page {
    padding: 10px;
    font-size: 1.2em;
    line-height: 1.5em;
    font-style: oblique;
    border-left: solid 2px @blue-light;
    color: #444;
  }

  .toggle {

  }

  .menu {
    display: block;
    box-sizing: border-box;

    &.hide {
      display: none;
    }

    > ul {
      margin: 0;
      padding: 0;
      width: 100%;

      i {
        color: #ccc;
      }

      > li {
        list-style: none;
        border: solid 1px #ccc;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: #fafafa;
        width: 100%;
        margin: 10px 0 0 0;
        display: block;
        padding: 10px;
        color: #888;
        height: 200px;

        > ul {
          margin: 0;
          padding: 0;
          padding-bottom: 20px;

          > li {
            list-style: none;
            border: none;
            width: 100%;

            a {
              text-decoration: underline;
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 800px) {

  #content .docs {
    .Row(100%);

    .toggle {
      display: none;
    }

    .menu {

      > ul {

        > li {
          width: 50%;
          margin: 0 0 10px 0;
          vertical-align: top;
          display: inline-block;

          &:nth-child(odd) {
            width: 48%;
            margin: 0 2% 10px 0;
          }
        }
      }

      &.hide {
        display: inline-block;
      }
    }

    .page {

    }
  }
}

@media (min-width: 1100px) {

  #content .docs {

    .menu {

    }

    .page {

    }
  }
}
