div.alerts {
  margin: auto;   
  width: 100%;
  text-align: center; 
  font-size: 1em;

	.alert {
		height: 20px;
		padding: 10px;
		margin: 5px;
		border: solid 1px;
		
		.msg {
    		color: #222;
    		line-height: 0.5em;
		}
		
		.code {
    		color: #555;
    		font-size: 0.7em;
		}
	}
	.close {
  	font-weight: bold;
	}
	.close:hover {
  	color: #fff;
	}
	.green {
  	border-color: #093; 
    background-color: #CFC;
	}
	.yellow {
    border-color: #FF3; 
    background-color: #FFC;
	}
	.red {
  	border-color:  #F00;    
  	background-color: #Faa; 
	}
	
	button {
    	float: right;
	}
}