button.button, a.button, input.button {
	display: block;
	font-size: 0.9em !important;
	color: @grey-light !important;
	width: 160px;
	height: 40px;
	text-align: center;
	.rounded(4px);
	border: none;
	margin: 4px;

  &:hover {
    cursor: pointer;
  }

  &.small {
  	width: 40px;
  	height: 40px;
  	display: inline;
  }

  &.tiny {
  	width: 20px;
  	height: 20px;
  	display: inline;
  }

  &.green {
  	background-color: @green;

    &:hover {
    	background-color: @green-light;
    }
  }

  &.blue {
    background-color: @blue;

    &:hover {
      background-color: @blue-light;
    }
  }

  &.red {
    background-color: @red;

    &:hover {
      background-color: @red-light;
    }
  }

  &.gold {
    background-color: @gold;

    &:hover {
      background-color: @gold-light;
    }
  }
}

a.button {
	padding-top: 8px;
	height: 32px;
}
