@import '../theme.less';
@import 'mixins.less';

button {
	border: none;
	background: none;
	cursor: pointer;
}

button.button[disabled='disabled'], button.button:disabled, input.button[disabled='disabled'], input.button:disabled {
	background-color: #eee !important;
	color: #333;

	&:hover {
		background-color: #eee !important;
		color: #333;
		cursor: default;
	}
}

button.button, a.button, input.button {
	display: block;
	font-size: 0.9em !important;
	color: @grey-light;
	width: 160px;
	height: 40px;
	text-align: center;
	.rounded(4px);
	border: none;
	margin: 4px;

	i {
		margin-right: 4px;
	}

  &:hover {
    cursor: pointer;
  }

  &.small {
  	width: 40px;
  	height: 40px;
  	display: inline;
  }

  &.tiny {
  	width: 20px;
  	height: 20px;
  	display: inline;
  }

  &.green {
  	background-color: @green;

    &:hover {
    	background-color: @green-light;
    }

		&.off {
			background-color: #fafafa;
			color: @green-light;
		}

		&.inverted {
			background-color: #fafafa;
			border: solid 1px @green-light;
			color: @green-light;
		}

		&.inverted:hover {
			background-color: @green-dark;
			border: none;
			color: @grey-light;
		}
  }

  &.blue {
    background-color: @blue;

    &:hover {
      background-color: @blue-light;
    }

		&.off {
			background-color: #fafafa;
			color: @blue-light;
		}

		&.inverted {
			background-color: #fafafa;
			border: solid 1px @blue-light;
			color: @blue-light;
		}

		&.inverted:hover {
			background-color: @blue-dark;
			border: none;
			color: @grey-light;
		}
  }

  &.red {
    background-color: @red;

    &:hover {
      background-color: @red-light;
    }

		&.off {
			background-color: #fafafa;
			color: @red-light;
		}

		&.inverted {
			background-color: #fafafa;
			border: solid 1px @red-light;
			color: @red-light;
		}

		&.inverted:hover {
			background-color: @red-dark;
			border: none;
			color: @grey-light;
		}
  }

  &.gold {
    background-color: @gold;

    &:hover {
      background-color: @gold-light;
    }

		&.off {
			background-color: #fafafa;
			color: @gold-light;
		}

		&.inverted {
			background-color: #fafafa;
			border: solid 1px @gold-light;
			color: @gold-light;
		}

		&.inverted:hover {
			background-color: @gold-dark;
			border: none;
			color: @grey-light;
		}
  }
}

a.button {
	padding-top: 8px;
	height: 32px;
}
