@import '../content/account.less';
@import '../content/editor.less';
@import '../content/game.less';
@import '../content/landing.less';
@import '../content/post.less';
@import '../content/profile.less';
@import '../content/search.less';

.main {
  .Row(100%);
}

#content {

    > div {
      margin: 20px 2% 0 2%;
      width: 90%;
      background-color: white;
      border: solid 1px @grey;
      padding: 3%;
    }

    > div.search {
      margin: 0;
      padding: 0;
      width: 100%;
      background: transparent;
      border: none;
    }
}
