@import '../content/auth.less';
@import '../content/account.less';
@import '../content/activity.less';
@import '../content/admin.less';
@import '../content/landing.less';
@import '../content/leaders.less';
@import '../content/post.less';
@import '../content/static.less';
@import '../content/stream.less';

.main {
  .Row(100%);
}

#content {

    > div {
      margin: 20px auto 0 auto;
      width: 94%;
      max-width: 1200px;
      background-color: white;
      border: solid 1px @grey;
      padding: 3%;
    }

    > div.stream {
      margin: 20px 0 0 0;
      padding: 0;
      width: 100%;
      background: transparent;
      border: none;
    }
}

.rte {
  margin-bottom: 40px;
  padding-bottom: 20px;
}
.ql-editor, .ql-container {
  height: initial;
  min-height: initial;
}

div.ql-toolbar {
  position: fixed;
  top: 60px;
  opacity: 1;
}

.quill-contents {
  background-color: #fff;
  border: solid 1px #ddd;

  &:hover, &:focus {
    border-color: @blue;
  }
}

.ql-container {
  position: static;
}

.content {
  .Row(100%);
  overflow: hidden;
}
