.footer {
    color: @theme-dark;
    width: 100%;
    text-align: center;
    font-size: 0.7em;
    float: none;
    clear: both;
    line-height: 20px;
    padding: 20px 0px 10px 0px;

    a {
        color: white;
    }
}
