.footer {
		color: @grey-dark;
		text-align: center;
		font-size: 0.8em;
		line-height: 20px;
		padding: 20px 0px 10px 0px;

		a {
				color: @theme-light;

				&:hover {
					color: @green;
				}
		}
}
