input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

label {
  color: @theme-light;
  margin: 0px 40px 20px 0px;
  display: block;

  &.error {
    border-left: solid 4px @red-dark;
    padding-left: 6px;
  }

  span {
    display: inline-block;
    font-size: 0.8em;

    &.error {
      color: @red-dark;
      font-weight: bold;
      font-size: 0.8em;
    }
  }
}

input, textarea, select {
  font-family: @font-serif;
  background-color: @off-white;
  font-size: 1.2em;
  color: @theme;
  min-width: 120px;
  margin-bottom: 10px;
  border: solid 1px @grey;
  .rounded(2px);
  display: block;
}

input {
  padding: 4px;
  height: 36px;
  max-width: 350px;
  width: 90%;

  &[type=file] {
    background-color: transparent;
    border: none;
    font-size: 0.8em;
  }

  &[type=checkbox] {
    border: none;
    background: transparent;
  }
}

textarea {
  padding: 4px;
  height: 360px;
  background-color: @form-background;
  border: solid 1px @form-border;
  color: @theme-dark;
}

select {
  height: 36px;
  padding: 4px;
  max-width: 350px;
  width: 90%;
  font-size: 1.1em;
  color: @grey-dark;
}
