label {
  font-size: 1.3em;
  color: @theme-light;
  margin: 0px 40px 20px 0px;
}

input, textarea, select {
  font-family: @font-serif;
  background-color: @off-white;
  font-size: 1.2em;
  color: @theme;
  margin-bottom: 10px;
  border: solid 1px @grey;
  .rounded(2px);
}

input {
  padding: 4px;
  height: 36px;
  max-width: 350px;
  width: 90%;

  &[type=file] {
    background-color: transparent;
    border: none;
    font-size: 0.8em;
  }

  &[type=checkbox] {
    border: none;
    background: transparent;
  }
}

textarea {
  padding: 4px;
  height: 360px;
  background-color: @form-background;
  border: solid 1px @form-border;
  color: @theme-dark;
}

select {
  height: 36px;
  padding: 4px;
  max-width: 350px;
  width: 90%;
  font-size: 1.1em;
  color: @grey-dark;
}
