/** ELEMENTS **/
fieldset {
border: none;
}

input {
padding: 4px;
height: 36px;
max-width: 350px;
width: 90%;
}

input, textarea, select {
background-color: @off-white;
font-size: 1.1em;
color: @grey-dark;
margin-bottom: 10px;
border: solid 1px @grey;
.rounded(2px);
}

input[type=text], textarea {

}

input[type=file] {
background-color: transparent;
border: none;
width: 100%;
font-size: 0.7em;
}

input[type=checkbox] {
border: none;
background: transparent;
.box-shadow(0px 0px 0px white);
}

label {
font-size: 1.2em;
color: #bbb;
font-style: italic;
margin: 0px 40px 20px 0px;
}

select {
height: 36px;
padding: 4px;
max-width: 350px;
width: 90%;
font-size: 1.1em;
color: @grey-dark;
}

textarea {
padding: 4px;
height: 360px;
background-color: @form-background;
border: solid 1px @form-border;
font-size: 0.9em;
color: @grey-dark;
}

.checkbox {
width: 55px;
height: 20px;
/*background-image: url('/assets/icons/general/checkbox/small/off.png'); */
background-repeat: no-repeat;
cursor: pointer;
}

.checkbox.on {
/*background-image: url('/assets/icons/general/checkbox/small/on.png'); */
}
