header {
	.Row(100%);
	height: 50px;
	position: fixed;
	border-bottom: solid 1px #bbb;
	background-color: #333;
	opacity: 1;
	z-index: 9999;

	.brand {
	   .Cols(3);

  		a {
				display: block;
				margin: 6px 0px 0px 0px;
				padding: 0px;
				width: 150px;
				height: 50px;
				background-repeat: no-repeat;
				background-size: 100%;
				background-image: url('/assets/logos/logo-new.png');

				&:hover {
					background-image: url('/assets/logos/logo-hover.png');
				}
  		}
	}

	.keywords {
		.Cols(6);
		height: 40px;
		background-color: #555;
		border: solid 1px #666;
		position: relative;
		margin-top: 10px;
		box-sizing: border-box;

		input {
			position: absolute;
			max-width: none;
			box-sizing: border-box;
			background-color: transparent;
			border: none;
			margin: 0px;
			padding: 4px;
			height: 100%;
			font-size: 1.2em;
			color: #eee;
		}

		span.total {
			position: absolute;
			text-align: right;
			right: 80px;
			color: #eee;
			top: 8px;
			font-size: 0.8em;

			.of {
				font-size: 0.8em;
				color: #aaa;
			}
		}
		button.filter {
			position: absolute;
			background-color: transparent;
			border: none;
			width: 40px;
			right: 40px;
			top: 10px;
			font-size: 1em;
			color: #eee;

			&:hover {
				cursor: pointer;
				color: @gold-light;
			}
		}

		button.button {
			position: absolute;
			margin: 0px;
			padding: 0px;
			height: 100%;
			width: 40px;
			right: 0;
			.rounded(0px);

			i {
				margin-right: 0;
			}

			span {
				display: none;
			}
		}
	}

	nav {
		.Cols(3);
		text-align: right;

		> ul {
			list-style: none;
			margin: 0;
			padding: 0;

			> li {
				display: inline-block;
				text-align: center;
				position: relative;
				width: 60px;

				> ul {
					display: none;
				}

				&:hover > ul {
					display: block;
					position: absolute;
					top: 44px;
					background-color: #333;
					width: 150%;
					right: 0px;
					opacity: 1;
					text-align: left;
					margin: 0;
					padding: 6px;

					> li {
						list-style: none;
						margin: 0;
						padding: 0;
						clear: both;

						> a {
							display: block;
							width: 100%;
							height: 30px;
							padding-left: 4px;
							padding-right: 8px;
							box-sizing: border-box;

							> span {
								display: block;
								float: right;
								text-align: right;
								margin-top: 2px;
							}

							i.fa {
								color: @gold-light;
								float: left;
								width: auto;
								font-size: 1.2em;
								display: block;
							}

							&:hover {
								background-color: #000;
								color: @gold-light;
							}
						}
					}

					.fa {
						font-size: 0.8em;
					}
				}

				.fa {
					font-size: 2em;
					margin-top: 10px;
					margin-bottom: 12px;
				}

				a {
					color: #eee;
					text-align: center;
					font-size: 0.6em;

					span {
						margin-top: -16px;
						display: block;
					}
				}

				a:hover {
					color: #aaa;
				}

				&.leaders:hover {
					color: @red;
					border-bottom: solid 4px @red-light;
				}

				&.posts:hover {
					color: @blue-dark;
					border-bottom: solid 4px @blue-light;
				}

				&.create {
					background-color: @green-dark;

					span, i {
						color: #fff;
					}

					&:hover {
						border-bottom: solid 4px @green-light;

						span, i {
							color: #eee;
						}
					}
				}



				&.me:hover {
					color: @gold;
					border-bottom: solid 4px @gold-light;
				}

				&.me:hover + ul {
					display: block;
					background-color: #333;
					list-style: none;
					width: 120px;
					position: absolute;
					right: 0;
					top: 40px;

					li {
					 padding: 4px;

					 a {
						font-size: 0.9em;
					 }
				 }
				}
			}
		}


		.notifications {
			background-color: @red;
			color: white;
			font-weight: bold;
			font-size: 0.4em;
		}
	}
}

@media (min-width: 500px) {

	header {
		height: 60px;

    .brand {

    		a {
					width: 180px;
					height: 60px;
    		}
  	}

		.keywords {
			button {

				span {
					display: inline;
					font-size: 0.8em;
				}
			}
		}

    nav {

			> ul {

				> li {
					width: 60px;

					> ul {
						display: none;
					}

					&:hover > ul {
						top: 64px;
					}

					.fa {
						width: 60px;
						font-size: 3em;
					}
				}
			}
    }
	}

  div.spacer {
    height: 60px !important;
  }

  .stream {
    .heading {
      top: 60px;
    }
  }
}
