header.home {
	background: transparent;
	position: absolute;
}

header nav.home, nav.static {

	 > ul > li {
		 display: inline-block;

	 	> a {
			padding: 12px 4px 15px 4px;
			display: block;
			font-size: 0.6em;
			color: #fff;

			&:hover {
				background-color: #fff;
				opacity: 0.5;
				color: #333;
			}
		}
	}
}

header nav.static {

	> ul > li {

	 > a {
		 color: #333;

		 &:hover {
			 background-color: #000;
			 opacity: 0.7;
			 color: #fff;
		 }
	 }
 }
}

header {
	width: 100%;
	height: 50px;
	position: fixed;
	background-color: #fff;
	border-bottom: solid 1px #eee;
	opacity: 1;
	z-index: 999;

	.brand {
	   width: 30%;
		 float: left;

  		a {
				display: block;
				margin: 14px 0px 0px 0px;
				padding: 0px;
				width: 90px;
				height: 30px;
				background-repeat: no-repeat;
				background-size: 100%;
				background-image: url('/assets/logos/dark/normal.png');

				&:hover {
					background-image: url('/assets/logos/dark/hover.png');
				}
  		}
	}

	.mylinks {
			font-size: 0.9em;
			display: inline-block;
			height: 100%;
			padding-top: 20px;

			a {
				padding-top: 20px;
				margin-left: 10px;
			}
	}

	&.home {
		border-bottom: none;

		.brand {

			a {
				background-image: url('/assets/logos/light/normal.png');

				&:hover {
					background-image: url('/assets/logos/light/hover.png');
				}
			}
		}
	}

	.keywords {
		top: -30px;
		height: 40px;
		border: solid 1px #eee;
		position: relative;
		margin-top: 10px;
		box-sizing: border-box;
		width: 100%;

		input {
			position: absolute;
			max-width: none;
			box-sizing: border-box;
			background-color: #fff;
			border: none;
			margin: 0px;
			padding: 4px;
			height: 100%;
			font-size: 1.2em;
			color: #333;
		}

		button.filter {
			position: absolute;
			background-color: transparent;
			border: none;
			width: 40px;
			right: 40px;
			top: 10px;
			font-size: 1em;
			color: #eee;

			&:hover {
				cursor: pointer;
				color: @gold-light;
			}
		}

		button.button {
			position: absolute;
			margin: 0px;
			padding: 0px;
			height: 100%;
			width: 40px;
			right: 0;
			.rounded(0px);

			i {
				margin-right: 0;
			}

			span {
				display: none;
			}
		}
	}

	nav {
		width: 70%;
		float: right;
		text-align: right;

		> ul {
			list-style: none;
			margin: 0;
			padding: 0;

			> li {
				display: inline-block;
				text-align: center;
				position: relative;
				text-transform: uppercase;

				> div {
					display: none;
				}

				&:hover > div {
					display: block;
					position: absolute;
					top: 50px;
					background-color: #f7f7f7;
					border: solid 1px #ddd;
					box-sizing: border-box;
					width: 300px;
					right: 0;
					z-index: 9999;

					ul {
						.Cols(6);
						text-align: left;
						margin: 0;
						padding: 6px;
						box-sizing: border-box;

						> li {
							list-style: none;
							margin: 0;
							padding: 0;
							clear: both;

							> a {
								display: block;
								width: 100%;
								height: 30px;
								padding-left: 4px;
								padding-right: 8px;
								box-sizing: border-box;

								> span {
									display: block;
									float: right;
									text-align: right;
									margin-top: 2px;
								}

								i.fa {
									color: @gold-light;
									float: left;
									width: auto;
									font-size: 1.2em;
									display: block;
								}

								&:hover {
									background-color: #ddd;
								}
							}
						}

						.fa {
							font-size: 0.8em;
						}
					}
				}
				.fa {
					font-size: 2em;
					margin-top: 10px;
					margin-bottom: 12px;
				}

				a {
					color: #555;
					text-align: center;
					font-size: 0.6em;

					span {
						margin-top: -16px;
						display: block;
					}
				}

				a:hover {
					color: #333;
				}

				&.leaders:hover {
					color: @red;
					border-bottom: solid 4px @red-light;
				}

				&.posts:hover {
					color: @blue-dark;
					border-bottom: solid 4px @blue-light;
				}

				&.create {
					background-color: @green-dark;

					span, i {
						color: #fff;
					}

					&:hover {
						border-bottom: solid 4px @green-light;

						span, i {
							color: #eee;
						}
					}
				}

				&.me:hover {
					color: @gold;
					border-bottom: solid 4px @gold-light;
				}

				&.me:hover + ul {
					display: block;
					background-color: #333;
					list-style: none;
					width: 120px;
					position: absolute;
					right: 0;
					top: 40px;

					li {
					 padding: 4px;

					 a {
						font-size: 0.9em;
					 }
				 }
				}
			}
		}


		.notifications {
			background-color: @red;
			color: white;
			font-weight: bold;
			font-size: 0.4em;
		}
	}
}

div.spacer {
	height: 80px !important;
}

@media (min-width: 500px) {

	header nav.home, nav.static {

		 > ul > li {

		 	> a {
				padding: 20px 4px 15px 4px;
				font-size: 0.8em;
			}
		}
	}

	header nav.static {

		> ul > li {

		 > a {

			 &:hover {

			 }
		 }
	 }
	}

	header {
		height: 60px;

    .brand {

    		a {
					margin-top: 9px;
					width: 180px;
					height: 60px;
    		}
  	}

		.keywords {

			button {

				span {
					display: inline;
					font-size: 0.8em;
				}
			}
		}

    nav {

			> ul {

				> li {
					width: 80px;

					> div {
						display: none;
					}

					&:hover > div {
						top: 60px;
					}

					.fa {
						width: 60px;
						font-size: 3em;
					}
				}
			}
    }
	}

  div.spacer {
    height: 100px !important;
  }

  .stream {
    .heading {
      top: 60px;
    }
  }
}

@media (min-width: 800px) {

	header {

		.brand {
			width: 25%;
		}

		.keywords {
			float: left;
			width: 50%;
			top: 0px;
		}

		nav {
			width: 50%;
		}
	}

	div.spacer {
		height: 60px !important;
	}
}
