.menu {
  width: 50px;
  position: fixed;
  background-color: #333;
  left: 0;
  top: 0;
  height: 100%;

  &.hide {
    width: 0px;
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      text-align: center;
      margin-top: 20px;

      i {
        color: #fff;
        font-size: 1.5em;

        &:hover {
          color: #aaa;
        }
      }
    }
  }
}
