/* SIDEBAR */
.sidebar {
  float: left;
  text-align: left;
  border-right: solid 2px #000;
  background-color: #2a2a2a;
  .box-shadow();
  height: 100%;
  margin-bottom: -5000px;
  padding-bottom: 5000px;
  color: #eee;
  font-size: 1em;
  
  .auth-sidebar {
    input {
      width: 90%;
    }
    .forgot {
      margin-left: 10px;
    }
  }
  .profile img {
    margin-top: 10px;
    border: solid 1px #aaa;
    padding: 2px;  
  }
  
  p {
    font-family: @century;
    font-size: 0.8em;
    font-style: italic;
  }
  
  img {
    border: none;
    cursor: pointer;
    margin: 0px 0px 0px 10px;
  }
  /*border-right: solid 1px #ccc;*/
  .title { 
    clear: both;
    font-size: 0.9em;
    font-weight: normal;
    font-family: @century;
    letter-spacing: 2px;
    background-color: #222;
    background-image: url('/assets/layout/texture.png');
    border-bottom: groove 2px #333;
    margin: 0px 0px 0px 0px;
    padding: 12px 10px 10px 20px;
    color: #eee;
    text-transform: uppercase;
    
    a {
      color: #ddd;
      font-size: 1em;
    }
  }
  
  .title.user, .title.notifications, .title.history {
    background-position: left center;
    background-repeat: no-repeat;
  }
  .user { background-image: url('/assets/icons/sidebar/user.png'); }
  .history { background-image: url('/assets/icons/sidebar/history.png'); }
  .notifications { background-image: url('/assets/icons/sidebar/notifications.png'); }
  
  .title.collapsible { 
    cursor: pointer;  
  }
  a {
    font-size: 0.8em;
    letter-spacing: 2px;
    color: #eee;
    font-weight: normal;
  }
  ul li a:hover {
    color: #f90 !important;
  }
  a:hover {
    color: #f90;
    font-weight: bold;
    cursor: pointer;
  }
  a.action {
    color: #18b;   
    font-size: 0.7em; 
  }
  a.action:hover {
    color: #f90;
  }
  a.link {
    width: 100px;
  }
  ul {
    margin-left: 10px;
  }
  
  ul.user {
    li a {
      color: @blue-light;
    }  
  }
  
  ul.notifications {
    li a {
      color: @red-light;
    }
  }
  
  ul.history {
    li a {
      color: @green-light;
    }
  }
  
  ul.stats {
    li {
      color: @green-light;
      font-size: 85%;
    }
    
    strong {
      color: #789829;
      font-size: 90%;
    }
  }
  
  li {
    margin-bottom: 4px; 
    list-style: none;
    border-bottom: solid 1px #444;
    height: 30px;
    overflow: hidden;
  }
  select {
  width: 180px;
  text-transform: capitalize;
  font-family: @perpetua;
  font-size: 1em;
  }
  
  .button {
    float: left;
    margin: 10px 0px 0px 8px;
  }
  table {
    display: none;
  }
  input, button {
    margin: 16px 0px 0px 0px;
  }

}
 

/** ELEMENT SPECIFIC **/
.sidebar {
  .earth { border-color: #1a5; }  
  .mind { border-color: #18c; }  
  .voice { border-color: #e42; } 
  .self { border-color: #f90; }
  
  /** HOVER **/
  .core:hover { color: #ccc; }
  .earth:hover { color: #1a5; }
  .mind:hover { color: #18c; }
  .voice:hover { color: #e42; }
  .self:hover { color: #f90; }
}