#content .landing .signup div.squeeze {
  width: 60%;
}

.signup {
  background-color: #eee;
  padding-bottom: 20px;

  .progress {
    margin: auto;
    padding: 20px 0;
    width: 60%;

    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        box-sizing: border-box;
        display: inline-block;
        list-style: none;
        background-color: #ccc;
        color: #333;
        margin-right: 2px;

        .step {
          font-size: 2em;
          font-family: @font-serif;
          display: inline-block;
          vertical-align: middle;
          background-color: #333;
          color: #eee;
          padding: 4px;
        }

        .label {
          padding: 4px;
          display: inline-block;
          vertical-align: middle;
          font-size: 0.8em;
        }
      }
    }
  }

  .instructions {
    vertical-align: top;
    display: inline-block;
    width: 40%;
    padding-right: 10px;
    box-sizing: border-box;


    p {
      display: none;

      &.selected {
        display: block;
      }
    }
  }

  .form {
    display: inline-block;
    width: 60%;
    text-align: left;

    > div {
      padding: 10px;
      box-sizing: border-box;
    }
  }
}

@media (min-width: 800px) {

}

@media (min-width: 1000px) {

}
