@value theme: '../../../css/theme.module.css';
@value grey-light, theme-light, green from theme;

.footer {
	color: grey-light;
	text-align: center;
	font-size: 0.8em;
	line-height: 20px;
	padding: 20px 0px 10px 0px;
	background-color: #000;
}

.muted {
	color: #777;
}

.link {
	color: theme-light;
}

.link:hover {
	color: green;
}
